/*This stylesheet contains some custom class rather than Bootstrap*/
		
a.brand img {
	border-radius:50%;
	border:5px solid #fff;
}
#home, #play, #credits, #blog, #about {
	padding:30px 0;
	padding-top: 120px;
	min-height:500px;
}
#home h2, #play h2, #credits h2, #blog h2, #about h2 {
    /*margin-left:-50px;*/
	font-weight:normal;
	color: #39D084;
}
/***** home *****/
	#home h1 {
    /*margin-left:-50px;*/
	color:#39d084;
	font-weight: normal;
}
#home h3 {
	color:#fff;
	font-weight: normal;
}
#home p {
	color:#fff;
	font-size:18px;
	line-height: 35px;
}
#home .container .span5 {
	padding:40px 0;
}
a.hire-me {
	display: inline-block;
    *display: inline;
	padding:20px 60px;
	background:#39d084;
	color:#fff;
	text-transform:uppercase;
	font-size:26px;
	margin:20px 0;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;

}

@import url(http://fonts.googleapis.com/css?family=Varela+Round);

html, body { background: #333 url("http://codepen.io/images/classy_fabric.png"); }

.bar142 {
    align-content: stretch; 
    width: 5px; 
    height: 5px; 
}

.bar142:hover {
    align-content: stretch; 
    width: 5px; 
    height: 5px; 
    -webkit-box-shadow: 0px 0px 15px 1px; 
    box-shadow: 0px 0px 15px 1px;    
}

.tex142 {
    text-align: left; 
    text-shadow: 0.25px 0.25px 0.25px;
}

.tex143 {
    text-align: right; 
    text-shadow: 0.25px 0.25px 0.25px;
}

.tex142:hover {
    text-align: left; 
    text-shadow: 1px 1px 1px;
}

.tex143:hover {
    text-align: right; 
    text-shadow: 1px 1px 1px;
}

.slides {
    padding: 0;
    width: 609px;
    height: 420px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: 609px;
    height: 420px;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
}

.nav label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;

	  opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
	background: rgba(0, 0, 0, 0.8);
}

a.hire-me:hover {
	text-decoration:none;
	background:#f04949;
    -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
   
}
.social {
	text-align:center;
	padding-bottom:80px;
}
ul.social-icons {
	margin:20px 0;
}
ul.social-icons li {
	list-style:none;
	display:inline-block;
	margin:10px;
}
ul.social-icons li:first-child {
	margin-left:0;
}
ul.social-icons li a {
	opacity:0.8;
}
ul.social-icons li a:hover {
	opacity:1;
}
/***** play *****/
#play .span3 {
	width:235px;
	overflow: hidden;
}
#play .span5 {
	text-align:left;
	padding:47px 0;
}
#play .ps, #play .ai, #play .html, #play .css {
	padding:25px;
	width:100px;
	height:100px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	text-align:center;
	border:8px solid #203748;
	float:right;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
#play .ps {
	background:#30a5dc;
}
#play .ai {
	background:#ee742b;
}
#play .html {
	background:#f04949;
}
#play .css {
	background:#39d084;
}
#play .ps:hover, #play .ai:hover, #play .html:hover, #play .css:hover {
	border:8px solid #fff;
    background: #f04949;
}
#play .ps h3, #play .ai h3, #play .html h3, #play .css h3 {
	color:#fff;
    background: #39d084;
	font-size: 3.4em;
	font-weight: normal;
	line-height: 80px;
}
#play .html h3, #play .css h3 {
	font-size: 2.2em;
}
.expand-bg {
	background: none repeat scroll 0 0 #EAEDF2;
	border-radius:16px;
	height: 16px;
	margin-bottom: 15px;
	position: relative;
	padding: 0 2px;
}
.expand {
	border-radius: 10px;
	height: 4px;
	margin: 2px 0;
	padding: 4px 0 4px 5px;
	position: absolute;
}
#play .span5 h3 {
	font-size: 18.5px;
	line-height: 15px;
	font-weight:normal;
	text-transform:uppercase;
}
#play .span5 h3 span {
	float:right;
}
.ps2 {
	width:90%;
	background:#30a5dc;
	-moz-animation:html5 2s ease-out;
	-webkit-animation:html5 2s ease-out;
}
.ai2 {
	width:80%;
	background:#ee742b;
	-moz-animation:css3 2s ease-out;
	-webkit-animation:css3 2s ease-out;
}
.html2 {
	width:75%;
	background:#f04949;
	-moz-animation:jquery 2s ease-out;
	-webkit-animation:jquery 2s ease-out;
}
.css2 {
	width:85%;
	background:#39d084;
	-moz-animation:photoshop 2s ease-out;
	-webkit-animation:photoshop 2s ease-out;
}
 @-moz-keyframes ps2 {
0% {
width:0px;
}
100% {
width:90%;
}
}
@-moz-keyframes ai2 {
0% {
width:0px;
}
100% {
width:80%;
}
}
@-moz-keyframes html2 {
0% {
width:0px;
}
100% {
width:75%;
}
}
@-moz-keyframes css2 {
0% {
width:0px;
}
100% {
width:85%;
}
}
 @-webkit-keyframes ps2 {
0% {
width:0px;
}
100% {
width:90%;
}
}
@-webkit-keyframes ai {
0% {
width:0px;
}
100% {
width:80%;
}
}
@-webkit-keyframes html {
0% {
width:0px;
}
100% {
width:75%;
}
}
@-webkit-keyframes css {
0% {
width:0px;
}
100% {
width:85%;
}
}
/**** credits container *****/
ul.credits-images li {
	list-style:none;
	display:inline-block;
	margin: 8px 10px;
 background:
}
ul.credits-images li:first-child {
	margin-left:0;
}
ul.credits-images li div {
	background:url(../img/eye.png) 50% 50% no-repeat;
	background-color: #f04949;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
ul.credits-images li img {
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
ul.credits-images li img:hover {
	opacity:0.1;
}
#about h3 {
    margin: 60px 0;
}
#about .btn-center {
    text-align: center;
}
/***** blog container *****/
#blog h3 {
	margin:60px 0;
}
#blog .btn-center {
	text-align:center;
}
.footer {
	background:#355267;
}
.footer p {
	margin:20px 0;
}
.footer p a {
	color:#fff;
	text-decoration:none;
}
.footer p a:hover {
	color:#39d084;
}
